@import "../../../scss/variables";

header {
  @media(max-width: $md) {
    padding-block: 1.5rem;
    margin-block-end: 2rem;
  }

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 2.12rem;
  margin-block-end: 4rem;
}