@import "../../../scss/variables";

.nav {
  &__list {
    @media (max-width: $md) {
      display: none;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.13rem;
  }

  & .menu-toggle {
    @media (max-width: $md) {
      display: block;
    }
    
    display: none;
    cursor: pointer;
    font-size: 2.5rem;
    color: $white;
    font-weight: 500;
  }
}
